<!doctype html>
<html>


<body>


    <div class="container-fluid bckgrclr">


        <div ng-include="'response.html'"></div>

        <div class="container">

            <div class="row tpband">
                <div class="col-sm-8 col-sm-offset-2 ">
                    <a href="#projectDetails"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
                    <a href="#help" target="_blank"><img src="imgs/help_grey.svg" id="help_pos" width=44px></a>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 ">
                    <h2 class="pghdgs">Update Record</h2>
                </div>
            </div>

            <div ng-include="'response.html'"></div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 makpg">

                    <ul class="nav nav-tabs adempnav" ng-init="tab=1">
                        <li ng-class="{'active': tab == 1}"><a style="cursor:pointer" data-toggle="tab" ng-click="tab=1">Record Details</a></li>
                        <li ng-class="{'active': tab == 2}"><a data-toggle="tab" style="cursor:pointer" ng-click="tab=2">Files</a></li>
                        <li ng-class="{'active': tab == 3}"><a data-toggle="tab" style="cursor:pointer" ng-click="tab=3">Comments</a></li>
                        <li ng-class="{'active': tab == 4}"><a data-toggle="tab" style="cursor:pointer" ng-click="tab=4">Change Log</a></li>
                    </ul>
                    <br>

                    <div class="tab-content" ng-show="tab==1">
                        <div class="row ropad">

                            <div class=" form-group">
                                <label for="usr">{{user.currentRecord.titleField.name}} </label>
                                <input id="basic" type="text" class="form-control set_sal" ng-model="user.currentRecord.titleField.value">

                            </div>

                            <div class=" form-group">
                                <label for="usr">Date</label>
                                <datepicker date-format="yyyy-MM-dd">
                                    <input type="text" class="form-control" maxlength="80" ng-model="user.currentRecord.recordDate">
                                </datepicker>
                            </div>

                            <div class="form-group" ng-repeat="field in user.currentRecord.values">
                                <label for="comment">{{field.name}}</label>
                                <datepicker date-format="yyyy-MM-dd" ng-if="field.type == 'DATE'">
                                    <input type="text" class="form-control" maxlength="80" ng-model="field.value">
                                </datepicker>
                                <input type="text" class="form-control" maxlength="80" ng-model="field.value" ng-if="field.type=='TEXT'">
                            </div>




                        </div>

                        <br>

                        <div class="frbtnonpg">
                            <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="save()">Save Changes </button>
                        </div>
                    </div>

                    <div class="tab-content" ng-show="tab==2">
                        <div class="row ropad">
                            <div class="form-group">
                                <h4><span>Upload file and write a brief discription</span></h4>
                                <div id="upload_profile_picture_div">
                                    {{file.name}}
                                    <div class="button" ngf-select ng-model="file" name="file"  ngf-max-size="20MB" style="border:1px">Select File </div>
                                </div>
                                <label for="usr">File Name</label>
                                <input type="text" class="form-control set_sal" ng-model="file.name">
                                <label for="usr">Description</label>
                                <textarea class="form-control" rows="3" id="fileDescr" ng-model="fileDescription"></textarea>
                                <button type="button" class="btn btn-secondary btn-lg btn-block btn_left">Upload file </button>
                            </div>
                            <br>
                        </div>

                        <div class="row ropad">

                            <h5><span>By Aniket Kulkarni on 21/3/2017</span></h5>
                            <h4><span><strong>File: </strong>hreasy frontend css code along with wireframes</span></h4>
                            <h4><span class="blue_txt">Download</span></h4>

                            <hr style="margin: 5px 0" />

                            <h5><span>By Ajinkya Kulkarni on 21/3/2017</span></h5>
                            <h4><span><strong>File: </strong>hreasy backend javascript with online logins</span></h4>
                            <h4><span class="blue_txt">Download</span></h4>

                            <br>

                        </div>

                    </div>

                    <div class="tab-content" ng-show="tab==3">
                        <div class="row ropad">
                            <div class="form-group">
                                <label for="comment">Add Comment:</label>
                                <textarea class="form-control" rows="3" id="comment"></textarea>
                            </div>

                            <div class="comment_box">
                                <h5><span>By Ajinkya Kulkarni on 21/3/2017</span>&nbsp;|&nbsp;<span class="blue_txt">Remove</span></h5>
                                <h4><span>hreasy backend javascript with online logins</span></h4>
                            </div>

                            <div class="comment_box">
                                <h5><span>By Ajinkya Kulkarni on 21/3/2017</span>&nbsp;|&nbsp;<span class="blue_txt">Remove</span></h5>
                                <h4><span>hreasy backend javascript with online logins</span></h4>
                            </div>

                            <div class="comment_box_me">
                                <h5><span>By Aniket Kulkarni on 21/3/2017</span>&nbsp;|&nbsp;<span class="blue_txt">Remove</span></h5>
                                <h4><span>hreasy backend javascript with online logins</span></h4>
                            </div>

                        </div>
                    </div>

                    <div class="tab-content" ng-show="tab == 4">
                        <div class="table-responsive">
                            <table class="table logtabl table-hover">
                                <thead class="distabl">
                                    <tr>
                                        <th class="distabl">Date</th>
                                        <th class="distabl">Record</th>
                                        <th class="distabl">Details</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>22/5/2017</td>
                                        <td>Ajinkya Kulkarni</td>
                                        <td>Task Title change</td>
                                    </tr>

                                    <tr>
                                        <td>22/5/2017</td>
                                        <td>Aniket Kulkarni</td>
                                        <td>File Uplode 'frontend.pdf'</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>



            </div>



        </div>

    </div>


</body>


</html>
