<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel='stylesheet' href='css/loading-bar.min.css' type='text/css' media='all' />
    <!-- animate -->
    <link rel="stylesheet" href="/hreasy_front/css/animate.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/hreasy_front/css/bootstrap.min.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="/hreasy_front/css/font-awesome.min.css">
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
    <!-- custom -->
    <link rel="stylesheet" href="/hreasy_front/css/style.css">

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">">

    <script type="text/javascript" src="js/angular.min.js"></script>

    <script type="text/javascript" src="js/angular-route.js"></script>

    <script type='text/javascript' src='js/loading-bar.min.js'></script>

    <script src="js/ng-file-upload-shim.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>

    <script src="js/ngTextInput.js"></script>

    <script type="text/javascript" src="js/ang/main.js"></script>

    <script type="text/javascript" src="js/ang/admin.js"></script>



    <title>HR made easy</title>
</head>

<body ng-app="app" ng-controller="admin">


    <nav>



        <ul class="lis1">
            <!---<li><a href="#" class="lis2"><img  src="imgs/menu-alt-512.png" alt="logo" style: width="40px"></a></li>--->

            <div class="dropdown lis2">
                <button class=" btnsty dropdown-toggle" type="button" data-toggle="dropdown"><span><img  src="imgs/menu-alt-512.png" alt="logo" style: width="40px"></span>
                </button>
                <ul class="dropdown-menu ">
                    <li><a href="#">Logout</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Get in touch</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>

            <!---<li><a href="#" class="logintx">Login</a></li>--->
        </ul>
        <div class="navba">
            <img id="logo" src="imgs/logonew.svg" alt="logo" style: width="120px">
        </div>

    </nav>


    <div class="container" ng-cloak>

        <div class="row tpband">

        </div>

        <div ng-include="'response.html'"></div>

        <div class="row">
            <div class="col-sm-12 ">
                <h2>Admin stuff</h2>
            </div>

        </div>

        <div class="col-sm-12 ">
            <div class="table-responsive">
                <table class="table admitabl table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Company </th>
                            <th>Employee</th>
                            <th>Status</th>
                            <th>last login</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in response.users">
                            <td>{{user.id}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.status}}</td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm btn-block btndet">View</button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-secondary btn-sm btn-block btnpdf" ng-click="activate(user)">Activate</button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-secondary btn-sm btn-block btnpdf" data-toggle="modal" data-target="#myModal">Delete Profile</button>
                            </td>

                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog ">

                                    <!-- Modal content-->
                                    <div class="modal-content" style="text-align: center;">
                                        <div class="modal-header" style="border:none">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete employee profile?
                                                <br>All employee data will be erased as well.
                                                <br>
                                                <br>Its advisable to take a backup by saving profile as pdf first.</p>
                                        </div>
                                        <div class="modal-footer" style="border:none">
                                            <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->

                                            <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal">Delete profile</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>







    <script src="js/angular-datepicker.js"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

<footer>
    <!---<div class="navbar navbar-default foocls">
  <div class="container">
    <span class="navbar-text">
      &#169 talnote corp.
      </span>
  </div>
</div> --->

    <div id="foo"></div>
</footer>

</html>
