<!doctype html>
<html ng-controller="company">
    <a href="#home"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick">
            
  <a href="#help" target="_blank"><img src="imgs/Just_icons/Question_chat.png" id="help_pos" width=44px></a>
      

<!--<div class="row tpband">
    <div class="col-sm-12 ">
        <a href="#home"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick">
            
        <a href="#help" target="_blank"><img src="imgs/help_grey.svg" id="help_pos" width=44px></a>
        </a>
    </div>
</div>-->

<div class="row">
    
    <div class="col-sm-6 col-sm-offset-3 ">

    <h2 class="text-left">Company Details</h2>
        
    </div>
    
    <div ng-include="'response.html'"></div>

    <br/>
    <div class="col-sm-6 col-sm-offset-3 makpg ">

        <ng-form name="companyForm">
            <div class=" form-group">
                <label for="usr">Registered company name</label>
                <input type="text" class="form-control" name="name" ng-model="user.company.name" ng-required="true" ng-readonly="nameReadOnly">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.name.$invalid">Please enter valid Company name</p>
            </div>

            <div class=" form-group">
                <label for="usr">Company Email</label>
                <input type="email" class="form-control" maxlength="40" ng-model="user.company.email" name="email">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.email.$invalid">Please enter valid Company Email</p>
            </div>

            <div class=" form-group">
                <label for="usr">Company address</label>
                <input type="text" class="form-control" maxlength="80"  name="address" ng-model="user.company.address" ng-required="true">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.address.$invalid">Please enter valid Company Address</p>
            </div>

            <div class=" form-group">
                <label for="usr">Company TAN number</label>
                <input type="text" class="form-control" maxlength="40" ng-model="user.company.tan">
            </div>

            <div class=" form-group">
                <label for="usr">Telephone number</label>
                <input type="text" class="form-control"  maxlength="40" name="phone" ng-model="user.company.phone" ng-required="true">
                <p style="color:red" ng-show="companyFormShowErros == true && companyForm.phone.$invalid">Please enter valid Company Contact number</p>
            </div>
            
            <div class=" form-group">
                <label for="usr">Company Account number</label>
                <input type="text" class="form-control" maxlength="40" ng-model="user.company.financial.accountNumber">
            </div>
            
            <div class=" form-group">
                <label for="usr">Company PAN</label>
                <input type="text" class="form-control" maxlength="40" ng-model="user.company.financial.pan">
            </div>
            
            <div class=" form-group">
                <label for="usr">Company Bank name</label>
                <input type="text" class="form-control" maxlength="60" ng-model="user.company.financial.bankName">
            </div>
            
            <div class=" form-group">
                <label for="usr">Company Bank Branch</label>
                <input type="text" class="form-control" maxlength="80" ng-model="user.company.financial.branchName">
            </div>
            
            <div class=" form-group">
                <label for="usr">Company Bank IFSC Code</label>
                <input type="text" class="form-control" maxlength="40" ng-model="user.company.financial.ifscCode">
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" name="terms" ng-model="terms" ng-required="true">I accept Terms & conditions
                </label>
                <p ng-show="companyFormShowErros == true && companyForm.terms.$invalid" style="color:red">Please accept our terms and conditions</p>
            </div>

            <div class="frbtnonpg">

            <!--data-toggle="modal" data-target="#myModal"-->
            <button type="button" class="btn btn-secondary btn-lg btn-block " ng-click="saveCompany(companyForm.$valid)">Save</button>
            </div>
        </ng-form>
            
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog ">

                <!-- Modal content-->
                <div class="modal-content" style="text-align: center;">
                    <div class="modal-header" style="border:none">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <p>Details sent successfully!</br> You will be contacted soon by company executive </p>
                    </div>
                    <div class="modal-footer" style="border:none">
                        <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->

                        <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal">Back to main page</button>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!--</div>
    </div>-->
</div>


</html>