<!doctype html>
<html>


<body>


    <div class="container">

        <div class="row tpband">
            <div class="col-sm-12 ">
                <a href="#leaves"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 ">
                <h2 class="pghdgs">View leaves</h2>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-sm-1 moliv ">

                <div class=" form-group ">
                    <select class="form-control" ng-model="year" ng-options="year for year in years">
                       
                    </select>
                </div>

            </div>
            <div class="col-sm-1 moliv  ">
                <div class=" form-group  ">

                    <select class="form-control" ng-model="month" ng-options="m.name for m in months">
                        
                    </select>
                </div>
                
            </div>
            <div class="col-sm-1 moliv subsalinfo  ">
                <div class=" form-group  ">
                    <button type="button" class="btn btn-secondary btn-sm btn-block btndet salmit" ng-click="getAllEmployeeLeaves()">Submit</button>
                   
                </div>

            </div>
            
           <div class="col-sm">
               
                
                    <span style="cursor:pointer" ng-click="downloadBankStatement()"><img src="imgs/n_pdf.svg" alt="back" class="expdficon" width=50px ></span>
                
                
                    <span style="cursor:pointer" ng-click="downloadMaster()"><img src="imgs/n_excel.svg" alt="back" width=50px class="expdficon" ></span>
                

            </div>
            
        </div>
        
        
        

        <div ng-include="'response.html'"></div>

        <div class="table-responsive makpg">
            <table class="table distabl table-hover">
                <thead >
                    <tr >
                        <th class="distabl">#</th>
                        <th class="distabl">ID</th>
                        <th class="distabl">Name</th>
                        <th class="distabl">Email</th>
                        <th class="distabl" ng-repeat="leaveType in leaveTypes">{{leaveType.name}}</th>
                        <!--<th>AL</th>
        <th>PL</th>
        <th>SL</th>-->
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="emp in employees">
                        <td>{{$index + 1}}</td>
                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.email}}</td>
                        <td ng-repeat="count in emp.leaveCount">{{count.count}}</td>
                        <td>{{emp.totalLeaves}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm btn-block btndet" ng-click="viewDetails(emp)">Details</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</body>


</html>