<!doctype html>
<html>


<body>

    <div class="row">

        <div class="row tpband">
            <div class="col-sm-6 col-sm-offset-3 ">
                <a href="#employees"><img src="imgs/back_icon_grey.png" alt="back" id="backbtn" width=50px style="border:thick"></a>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 ">
                <h2 class="pghdgs">View employee data</h2>
            </div>

        </div>

        <div ng-include="'response.html'"></div>

        <div class="col-sm-8 col-sm-offset-2 ">
            <div class="table-responsive">
                <table class="table distabl table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="emp in response.user.company.employees">
                            <td>{{emp.id}}</td>
                            <td>{{emp.name}}</td>
                            <td>{{emp.email}}</td>
                            <td>{{emp.designation}}</td>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm btn-block btndet" ng-click="view(emp)">View</button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-secondary btn-sm btn-block btnpdf" ng-click="edit(emp)">Edit Profile</button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-secondary btn-sm btn-block btnpdf" ng-click="delete(emp)" data-toggle="modal" data-target="#myModal">Delete Profile</button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog ">

            <!-- Modal content-->
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header" style="border:none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div ng-include="'response.html"></div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the employee profile ({{employee.name}})?
                        <br>All employee data will be erased as well.
                        <br>
                        <br>Its advisable to take a backup by saving profile as pdf first.</p>
                </div>
                <div class="modal-footer" style="border:none">
                    <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->

                    <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal" ng-click="deleteEmployee()">Delete profile</button>
                </div>
            </div>

        </div>
    </div>

</html>