<!doctype html>
<html>


<body>



    <div class="container">

        <div class="row tpband">
            <div class="col-sm-6 col-sm-offset-3 ">
                <a href="#leaves"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <h2 class="pghdgs">Leave settings</h2>
            </div>
        </div>

        <div ng-include="'response.html'"></div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 makpg ">
                
                <!--<div class=" form-group" ng-repeat="policy in leaveTypes">
                    <label for="pwd">Maximum {{policy.name}} leaves per year</label>
                    <input type="number" class="form-control" value="{{policy.count}}" ng-model="policy.count">
                </div>-->
            <br>  
            
            <!----------------->
                
            <div>   
            <div class="col-md-4">
                <label>Sick leaves</label>
            </div>
            
            
            <div class="col-md-4">
                <input type="number" class="form-control" value="{{policy.count}}" ng-model="policy.count">
            </div>
            
            
            <div class="col-md-4">
                <select class="form-control">
                        <option value="percentage">Yearly</option>
                         <option value="amount">Monthly</option>
                 </select>
            </div>
            </div>
                
            <br>  
            <br> 
            <br>
                
            <!---------------------->
            
            <div>   
            <div class="col-md-4">
                <label>Personal leaves</label>
            </div>
            
            
            <div class="col-md-4">
                <input type="number" class="form-control" value="{{policy.count}}" ng-model="policy.count">
            </div>
            
            
            <div class="col-md-4">
                <select class="form-control">
                        <option value="percentage">Yearly</option>
                         <option value="amount">Monthly</option>
                 </select>
            </div>
            </div>    
                
            <br>  
            <br> 
            <br>
                
            <!---------------------->    
                
            <div>   
            <div class="col-md-4">
                <label>Other leaves</label>
            </div>
            
            
            <div class="col-md-4">
                <input type="number" class="form-control" value="{{policy.count}}" ng-model="policy.count">
            </div>
            
            
            <div class="col-md-4">
                <select class="form-control">
                        <option value="percentage">Yearly</option>
                         <option value="amount">Monthly</option>
                 </select>
            </div>
            </div>    
                
            <br>  
            <br> 
            <br>
                
            <!---------------------->   
                

             <div class="frbtnonpg">
                <button type="button" class="btn btn-secondary btn-lg btn-block " ng-click="addLeavePolicy()">Save</button>
                </div>
        
        </div>
        </div>
        
        
        
    </div>

    

</body>

</html>