<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="ERPstyle.css">
    <link href='http://fonts.googleapis.com/css?family=Nato<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="css/loader.css" \>

    <link rel='stylesheet' href='css/loading-bar.min.css' type='text/css' media='all' />

    <script type="text/javascript" src="js/angular.min.js"></script>

    <script type="text/javascript" src="js/angular-route.js"></script>

    <script type='text/javascript' src='js/loading-bar.min.js'></script>

    <script src="js/ngTextInput.js"></script>

    <script type="text/javascript" src="js/ang/main.js"></script>

    <script src="js/ng-file-upload-shim.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>

    <script type="text/javascript" src="js/ang/login.js"></script>


    <title>HR made easy</title>
</head>

<body ng-app="app" ng-controller="login">

    <nav>



        <!---<ul class="lis1">
            <li><a href="#" class="lis2"><img  src="imgs/menu-alt-512.png" alt="logo" style: width="40px"></a></li>

            <div class="dropdown lis2">
                <button class=" btnsty dropdown-toggle" type="button" data-toggle="dropdown"><span><img  src="imgs/menu-alt-512.svg" alt="logo" style: width="40px"></span>
                </button>
                <ul class="dropdown-menu ">
                    <li><a href="#">Get in touch</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
        </ul>--->

        <div class="navba">
            <img id="logo" src="imgs/logonew.svg" alt="logo" style: width="110px">
        </div>

    </nav>


    <div class="containe-fluid bckgrclr htpag">


        <div ng-include="'response.html'"></div>

        <br>
        <br>


        <div class="row ">
            <div class="col-sm-4 col-sm-offset-4 makpg ">

                <br>
                <div class=" form-group ">
                    <label for="pwd">User id</label>
                    <input type="emil id" class="form-control" ng-model="user.email">
                </div>
                <div class=" form-group ">
                    <label for="usr">Password</label>
                    <input type="password" class="form-control" ng-model="user.password">
                </div>

                <a href="forgot_password.html"><span><h5>Forgot Password?</h5></span></a>

                <div class="frbtnonpg">
                    <button type="button" class="btn btn-secondary btn-lg btn-block btnbrd" ng-click="loginUser()">Login</button>
                </div>

            </div>
        </div>
    </div>


    <script src="js/angular-datepicker.js"></script>



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

<footer>
    <!---<div class="navbar navbar-default foocls">
  <div class="container">
    <span class="navbar-text">
      &#169 talnote corp.
      </span>
  </div>
</div> --->

    <div id="foo" class="negmar"></div>
</footer>

</html>
