<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="ERPstyle.css">
    
    <link href='http://fonts.googleapis.com/css?family=Nato<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="css/loader.css" \>

    <link rel='stylesheet' href='css/loading-bar.min.css' type='text/css' media='all' />

    <script type="text/javascript" src="js/angular.min.js"></script>

    <script type="text/javascript" src="js/angular-route.js"></script>

    <script type='text/javascript' src='js/loading-bar.min.js'></script>

    <script src="js/ngTextInput.js"></script>

    <script type="text/javascript" src="js/ang/main.js"></script>

    <script src="js/ng-file-upload-shim.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>

    <script type="text/javascript" src="js/ang/login.js"></script>


    <title>HR made easy</title>
</head>

<body ng-app="app" >

    <nav>



        <!---<ul class="lis1">
            <li><a href="#" class="lis2"><img  src="imgs/menu-alt-512.png" alt="logo" style: width="40px"></a></li>

            <div class="dropdown lis2">
                <button class=" btnsty dropdown-toggle" type="button" data-toggle="dropdown"><span><img  src="imgs/menu-alt-512.svg" alt="logo" style: width="40px"></span>
                </button>
                <ul class="dropdown-menu ">
                    <li><a href="#">Get in touch</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
        </ul>--->

        <div class="navba">
            <img id="logo" src="imgs/logonew.svg" alt="logo" style: width="100px">
        </div>

    </nav>


    <div class="container-fluid bckgrclr htpag">


        <div ng-include="'response.html'"></div>

        <br>
        <br>


        <div class="row">
            
            <div class="col-sm-4 ">
                <h3 style="margin-left:10px;"><b>Projects</b></h3>
                <div class="makpg mb_side_card">
                    
                    <a href="#archivedRecords" ng-click="viewArchive()"><span ><img src="imgs/Just_icons/Archive-icon.svg" class="fade_hover" alt="back" width=30px style="float:right;margin-top:-14px;margin-right:5px;"></span></a>
                    <p class="mb_top_card_text"><b>Add New Project</b></p>
                   
                </div>
                
                <div class="makpg mb_side_card">
                    
                    <a style="cursor:pointer" ng-click="selectProject(null)"><img src="imgs/forward-arrow.svg" alt="back" style="float:right;margin-top:-15px;margin-right:5px;opacity:0.1;" width=25px></a>
                    <p style="width:85%; margin-top:-12px;margin-left:8px;">1. Project Name here</p>
                   
                </div>
                
                <div class="makpg mb_side_card">
                    
                    <a style="cursor:pointer" ng-click="selectProject(null)"><img src="imgs/forward-arrow.svg" alt="back" style="float:right;margin-top:-15px;margin-right:5px;opacity:0.1;" width=25px></a>
                    <p style="width:85%; margin-top:-12px;margin-left:8px;">1. Project Name here</p>
                   
                </div>
                
                <div class="makpg mb_side_card">
                    
                    <a style="cursor:pointer" ng-click="selectProject(null)"><img src="imgs/forward-arrow.svg" alt="back" style="float:right;margin-top:-15px;margin-right:5px;opacity:0.1;" width=25px></a>
                    <p style="width:85%; margin-top:-12px;margin-left:8px;" >1. Project Name here</p>
                   
                </div>
                

               
            </div>
            
            
            
            
            
            
          <div class="col-sm-4 " >
                <h3 style="margin-left:10px;"><b>Project Name here</b></h3>
                <div class="makpg mb_side_card">
                    
                    <a href="#"><span ><img src="imgs/Just_icons/add_recordicon.svg" class="fade_hover" alt="back" width=30px style="float:left;margin-top:-14px;margin-left:8px;"></span></a>
                    <a href="#"><span ><img src="imgs/Just_icons/add_columnicon.svg" class="fade_hover" alt="back" width=30px style="float:left;margin-top:-16px;margin-left:12px;"></span></a>
                   
                </div>
                
                <div class="makpg mb_side_card">
                    
                    <a style="cursor:pointer" ng-click="selectProject(null)"><img src="imgs/visibility-button.svg" alt="back" style="float:right;margin-top:-25px;margin-right:8px;opacity:0.1;" width=30px></a>
                    <p style="width:85%;margin-top:-22px;margin-left:8px;">1. Record Name here to be written here</p>
                    
                    <p style="margin-top:-8px;margin-left:23px; opacity:0.3; margin-bottom:0px;"><b>Edit  |  Comment  |  Attach file  |  Log </b></p>
                   
                </div>
              
                <div class="makpg mb_side_card">
                    
                    <a style="cursor:pointer" ng-click="selectProject(null)"><img src="imgs/visibility-button.svg" alt="back" style="float:right;margin-top:-25px;margin-right:8px;opacity:0.8;" width=30px></a>
                    <p style="width:85%;margin-top:-22px;margin-left:8px;">1. Record Name here to be written here</p>
                    
                        <div style="margin:10px 10px; background-color: rgb(244,244,244); height:30px;border-radius:5px;"></div>
                        <div style="margin:10px 10px; background-color: rgb(244,244,244); height:30px;border-radius:5px;"></div>
                        <div style="margin:10px 10px; background-color: rgb(244,244,244); height:30px;border-radius:5px;"></div>

                    
                    <p style="margin-top:-8px;margin-left:23px; opacity:0.3; margin-bottom:0px;"><b>Edit  |  Comment  |  Attach file  |  Log </b></p>
                   
                </div>
            
            </div> 
            
            
            
            <div class="col-sm-4 " >
                <h3 style="margin-left:10px;"><b>Project Name here</b></h3>
                
                <div class="makpg mb_side_card">
                    
                    
                    <p style="text-align:center;margin-top:-22px;margin-left:8px; margin-right:8px;">1. Record Name here to be written here</p>
                    
                        
                    
                    <p style="margin-top:-8px;text-align:center; opacity:0.3; margin-bottom:0px;"><b>Edit  |  Comment  |  Attach file  |  Log </b></p>
                   
                </div>
                
                <div class="makpg mb_side_card" style=" height:200px;">
                    
                    
                   
                </div>
            
            </div>
            
            
            
        </div>
    </div>


    <script src="js/angular-datepicker.js"></script>



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>



</html>
