<!doctype html>
<html>


<body>

    <div class="container">
        
         <div class="row tpband">
            <div class="col-sm-8 col-sm-offset-2 ">
                <a href="#home"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
                
                <a href="#help" target="_blank"><img src="imgs/help_grey.svg" id="help_pos" width=44px></a>
            </div>
        </div>

        <div ng-include="'response.html'"></div>
        
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 makpg ">
                <br>
                <ng-form name="passwordForm">
                    <div class=" form-group">
                        <label for="pwd">Current password</label>
                        <input type="password" class="form-control" name="password" ng-model="user.password" ng-required="true">
                        <p style="color:red" ng-show="passwordErrors && passwordForm.password.$invalid">Please enter valid Password</p>
                    </div>
                    <div class=" form-group">
                        <label for="usr">New Password</label>
                        <input type="password" class="form-control" name="newPassword" ng-model="user.newPassword" ng-required="true">
                        <p style="color:red" ng-show="passwordErrors && passwordForm.newPassword.$invalid">Please enter valid Password</p>
                    </div>
                    <div class=" form-group">
                        <label for="usr">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmPassword" ng-model="confirmPassword" ng-required="true">
                        <p style="color:red" ng-show="passwordErrors && passwordForm.confirmPassword.$invalid">Please enter valid Password</p>
                        <p style="color:red" ng-show="passwordMatchErrors">Both passwords do not match</p>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block btnbrd" ng-click="changePassword(passwordForm.$valid)">Save</button>
                </ng-form>
            </div>
        </div>
    </div>
</body>

</html>