<!doctype html>
<html>

<body>



    <div class="container-fluid ">


        <div ng-include="'response.html'"></div>
        <a href="#projectDetails"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
        <a href="#help" target="_blank"><img src="imgs/Just_icons/Question_chat.png" id="help_pos" width=44px></a>



        <div class="container-fluid">

            <!--<div class="row tpband">
                <div class="col-sm-12 ">
                    <a href="#projectDetails"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
                    <a href="#help" target="_blank"><img src="imgs/help_grey.svg" id="help_pos" width=44px></a>

                </div>
            </div>-->

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 ">
                    <h2 class="pghdgs">Mail Settings</h2>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 makpg">


                    <div class="row" style="padding:0 15px;">

                        <h3>E-mail notifications can be sent to your registered mail IDs.<br/>Select the checkbox in the table below to tell us <b>'When do you wish to receive an email notifiction?' </b></h3>

                    </div>

                    <hr>




                    <div class="table-responsive">
                        <table class="table distabl table-hover " style="font-size:15px">
                            <thead>
                                <tr>
                                    <th style="text-align: center">#</th>
                                    <th style="text-align: center">My Options</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td style="text-align:left;"><b>I wish to receive a notification for every project record upadated.</b><br>Email will be sent whenever anyone adds/modifies/deletes any record in the project. This includes comments, file uploads for all records.</td>

                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="user.currentProject.mailConfig.allMails"></label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td style="text-align:left;"><b>I wish to receive a notification whenever a record <b>assigned </b> to me is upadated.</b><br>Email will be sent whenever anyone adds/modifies/deletes any record which is asigned to you. This includes comments, file uploads as well.</td>

                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="user.currentProject.mailConfig.assignedToMails"></label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td style="text-align:left;"><b>I wish to receive a notification whenever a record <b>created by me</b> is upadated.</b><br>Email will be sent whenever anyone adds/modifies/deletes any record which is created by you. This includes comments, file uploads as well.</td>

                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="user.currentProject.mailConfig.createdByMails"></label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>4</td>
                                    <td style="text-align:left;"><b>I do not wish to receive a notification for project upadate.</b><br>Email will not be sent at all.</td>

                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            Nothing checked
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>


                    <!--<div class="row">
                        <div class=" levcard2 crcompt">
                            <div class="col-sm-12">
                                <div class="row" ng-repeat="usr in user.currentProject.users">
                                    {{usr.name}} ({{usr.department}})
                                    <span style="cursor:pointer" ng-click="remove(usr)"><img src="imgs/clear-button.png" alt="back" id="closbtn2" width=10px ></span>
                                    <hr style="margin: 5px 0" />
                                </div>


                            </div>
                        </div>
                    </div>-->

                    <br>



                </div>
                <div class="col-sm-8 col-sm-offset-2 makpg">
                    <div class="frbtnonpg">
                        <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="save()">Save </button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>



</html>
