<!doctype html>
<html>

<body>




    <div class="container">

        <div class="row tpband">
            <div class="col-sm-6 col-sm-offset-3 ">
                <img src="imgs/left-round-512.png" alt="back" id="backbtn" width=50px style="border:thick">

                <img src="imgs/home-icon.png" alt="back" id="homebtn" width=60px style="float:right">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <h2 class="pghdgs">Set salary structure</h2>
            </div>
        </div>

        <div ng-include="'response.html'"></div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 ">
                <br>
                <div class=" form-group">
                    <label for="usr">Base salary ( % of gross salary) </label>
                    <input id="basic" type="number" class="form-control set_sal" ng-model="user.company.basic.percentage">
                    <p style="color:red" ng-show="basicError && user.company.basic == null">Please enter a valid value</p>
                </div>

                <hr size="30">
                
                 <div class=" form-group">
                    <label for="pwd">Add allowances</label>
                    <!--<input type="emil id" class="form-control" >-->
                    <select name="allowance" class="form-control" ng-model="allowance">
                        <option value="">Select allowance</option>
                        <option value="HRA">H.R.A.(% of base salary)</option>
                        <option value="Conveyance">Conveyance (% of base salary)</option>
                        <option value="Custom">Custom</option>
                    </select>

                </div>
                <button type="button" class="btn btn-secondary btn-lg btn-block butte" ng-click="add('add')">Add allowance</button>
                <br>

                <hr size="30">
                <!--<div class=" form-group" ng-repeat="salary in user.company.salaryInfo">
                    <label for="usr">{{salary.rule}}</label>
                    <input type="number" class="form-control set_sal" ng-model="salary.percentage">
                    <button type="button" class="btn btn-secondary btn-lg btn-block butte" ng-click="remove(salary)">Remove</button>
                </div>-->

                <div class="row" ng-repeat="salary in user.company.salaryInfo">
                    <div class="levcard2" ng-show="salary.type == 'add'">

                        <button type="button" class="btn btn-xs crs crdown" ng-click="remove(salary)">
                            <span><img src="imgs/clear-button.png" alt="back" id="closbtn" width=20px ></span>&nbsp;
                        </button>

                        <div class=" form-group forpad">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="usr">{{salary.rule}}</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control set_sal" ng-model="salary.percentage">
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="salary.amountType">
                                        <option value="percentage">%</option>
                                        <option value="amount">Rs./-</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

               

                <hr size="30">


                <div class=" form-group">
                    <label for="pwd">Add deductions</label>
                    <!--<input type="emil id" class="form-control" >-->
                    <select name="deduction" class="form-control" ng-model="deduction">
                        <option value="">Select deduction</option>
                        <option value="Provident fund">Provident Fund</option>
                        <option value="Professional Tax">Professional Tax</option>
                        <option value="Custom">Custom</option>
                    </select>

                </div>
                <button type="button" class="btn btn-secondary btn-lg btn-block butte" ng-click="add('sub')">Add deduction</button>
                <br>

                <hr size="30">
                
                <div class="row" ng-repeat="salary in user.company.salaryInfo">
                    <div class="levcard2" ng-show="salary.type == 'sub'">

                        <button type="button" class="btn btn-xs crs crdown" ng-click="remove(salary)">
                            <span><img src="imgs/clear-button.png" alt="back" id="closbtn" width=20px ></span>&nbsp;
                        </button>

                        <div class=" form-group forpad">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="usr" ng-show="!salary.customRule">{{salary.rule}}</label>
                                    <input type="text" class="form-control set_sal" ng-model="salary.rule" ng-show="salary.customRule">
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control set_sal" ng-model="salary.percentage">
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="salary.amountType">
                                        <option value="percentage">%</option>
                                        <option value="amount">Rs./-</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Save Structure </button>


                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog ">

                        <!-- Modal content-->
                        <div class="modal-content" style="text-align: center;">
                            <div class="modal-header" style="border:none">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to save Salary structure?
                                    <br>Changes may affect salary break-up of current employees as well</p>
                            </div>
                            <div class="modal-footer" style="border:none">
                                <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->

                                <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal" ng-click="save()">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
                <br>



            </div>
        </div>
    </div>


</body>


</html>