<!doctype html>
<html>

<head>

</head>


<body>




    <div class="container-fluid bckgrclr htpag" ng-esc="cancel()" tabindex="0">


        <div ng-include="'response.html'"></div>



        <div class="row tpband">
            <div class="col-sm-12">

                <a href="#myProjects"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick "></a>

                <a href="#help" target="_blank"><img src="imgs/help_grey.svg" id="help_pos" width=44px></a>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <h2 class="pghdgs_V2"> {{user.currentProject.title}}</h2>
            </div>

        </div>





        <div class="col-sm-12 makpg Proj_top_tab">

            <div class="row">

                <span ng-if="user.currentProject.fields.length > 0"><img src="imgs/n_Add_task.svg" alt="back" class="fade_hover" id="adbtn2" width=45px ng-click="addNew()" title="Add Record" style="cursor:pointer"></span>


                <a href="#projectStructure"><span><img src="imgs/n_Add_column.svg" alt="back" class="fade_hover" id="adbtn2" width="45px" title="Add Column" ></span></a>


                <a href=#><span ><img src="imgs/n_excel.svg" alt="back" class="fade_hover" width=45px id="exl_icon"></span></a>

                <a href=#myProject><span ><img src="imgs/n_add_settings.svg" class="fade_hover" alt="back" width=45px id="exl_icon"></span></a>




            </div>
        </div>

        <div class="col-sm-{{mainDiv}}" style="padding-right:4px; padding-left:0px; overflow:scroll; height:600px;">
            <div class="makpg edge_color" style="padding-left:10px; padding-bottom:5px; padding-top:22px; padding-right:10px;" ng-repeat="rec in user.currentProject.records">

                <div class="row" style="padding-left:20px; padding-right:10px; margin-top:-15px; border-color: black;">

                    <span data-toggle="tooltip" title="{{rec.titleField.name}}">{{rec.titleField.value}}</span>

                    <!--<div class="form-group col-sm-3" ng-if="user.currentRecord.id==rec.id">
                        <label for="usr">{{user.currentRecord.titleField.name}} </label>
                        <input id="basic" type="text" class="form-control set_sal" ng-model="user.currentRecord.titleField.value">
                    </div>

                    <div class="form-group col-sm-3" ng-if="user.currentRecord.id==rec.id">
                        <label for="usr">Record Date</label>
                        <datepicker date-format="yyyy-MM-dd">
                            <input type="text" class="form-control" maxlength="80" ng-model="user.currentRecord.recordDate">
                        </datepicker>

                    </div>-->
                    
                    <img ng-if="rec.createdUser != null" ng-src="{{getInitials(rec.createdUser, '#d3d3d3', '#7f7f7f')}}"  data-toggle="tooltip" title="Created by : {{rec.createdUser.name}}">
                    
                    <img ng-if="rec.assignedUser != null" ng-src="{{getInitials(rec.assignedUser, '#999', '#ccc')}}" data-toggle="tooltip" title="Assigned to : {{rec.assignedUser.name}}">

                    <span>
                        <a style="cursor:pointer" ng-click="selectRecord(rec, 4)"><img src="imgs/bookmark-outline.svg" alt="back" id="card_icons" width=20px></a>
                        <a style="cursor:pointer" ng-click="selectRecord(rec, 2)"><img src="imgs/attachment-clip.svg" alt="back" id="card_icons" width=20px></a>
                        <a style="cursor:pointer" ng-click="selectRecord(rec, 3)"><img src="imgs/chat-bubble.svg" alt="back" id="card_icons" width=20px></a>
                        <a style="cursor:pointer" ng-click="selectRecord(rec, 1)"><img src="imgs/underline-button.svg" alt="back" id="card_icons" width=20px></a>
                    </span>

                </div>

                <div class="row" style="padding-right:10px; padding-left:10px;">
                    <div class="col-sm-3" style="padding :5px;" ng-repeat="field in rec.values">
                        <div class="panel panel-default crd_design" data-toggle="tooltip" title="{{field.name}}">
                            <div ng-click="field.maxLength = !field.maxLength" ng-class="fieldClass(field)" style="cursor:pointer">
                                <h4>{{field.value}}</h4>
                            </div>
                        </div>

                        <!--<div class="form-group" ng-if="user.currentRecord.id==rec.id">
                            <label for="usr">{{field.name}} </label>
                            <datepicker date-format="yyyy-MM-dd" ng-if="field.type == 'DATE'">
                                <input type="text" class="form-control" maxlength="80" ng-model="field.value">
                                <br>
                            </datepicker>
                            <input type="text" class="form-control" maxlength="80" ng-model="field.value" ng-if="field.type=='TEXT'">
                        </div>-->

                    </div>


                    <!--<p data-toggle="tooltip" title="Record Date" ng-if="user.currentRecord.id!=rec.id">{{rec.recordDateString}}</p>-->

                    <!--<div class="frbtnonpg" ng-if="user.currentRecord.id==rec.id">
                        <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="save()">Save Changes </button>
                        <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="cancel()">Cancel</button>
                    </div>-->


                </div>

            </div>
        </div>



        <div class="col-sm-4 col-sm-offset-0" style="overflow:scroll; height:600px; padding-left: 5px; padding-right: 5px" ng-if="user.currentRecord.id != null">
            <div class="makpg" style="margin:none; padding-left: 8px; padding-right: 8px">

                <!--<ul class="nav nav-tabs adempnav" ng-init="tab=1">
                    <li ng-class="{'active': tab == 1}"><a style="cursor:pointer" data-toggle="tab" ng-click="tab=1">Record Details</a></li>
                    <li ng-class="{'active': tab == 2}"><a data-toggle="tab" style="cursor:pointer" ng-click="tab=2">Files</a></li>
                    <li ng-class="{'active': tab == 3}"><a data-toggle="tab" style="cursor:pointer" ng-click="tab=3">Comments</a></li>
                    <li ng-class="{'active': tab == 4}"><a data-toggle="tab" style="cursor:pointer" ng-click="tab=4">Change Log</a></li>
                </ul>
                <br>-->

                <div class="tab-content" ng-show="tab==1">
                    <div class="row ropad">

                        <div class=" form-group">
                            <label for="usr">{{user.currentRecord.titleField.name}} </label>
                            <input id="basic" type="text" class="form-control set_sal" ng-model="user.currentRecord.titleField.value">

                        </div>

                        <div class="form-group" style="margin-bottom:45px">
                            <label for="usr">Date Created</label>
                            <datepicker date-format="yyyy-MM-dd">
                                <input type="text" class="form-control" maxlength="80" ng-model="user.currentRecord.recordDate">
                            </datepicker>
                        </div>

                        


                        <div class="form-group" ng-repeat="field in user.currentRecord.values">
                            <label for="comment">{{field.name}}</label>
                            <datepicker date-format="yyyy-MM-dd" ng-if="field.type == 'DATE'">
                                <input type="text" class="form-control" maxlength="80" ng-model="field.value">
                                <br>
                            </datepicker>
                            <input type="text" class="form-control" maxlength="80" ng-model="field.value" ng-if="field.type=='TEXT'">
                        </div>

                        <div class=" form-group">
                            <label for="pwd">Assign to (Optional) </label>
                            <!--<input type="emil id" class="form-control" >-->
                            <select name="assignee" class="form-control forpad" ng-model="user.currentRecord.assignedUser.id" class="form-control" ng-options="usr.id as usr.name for usr in user.currentProject.users">
                                <option value="">Select member</option>
                        
                            </select>

                        </div>


                        <hr>

                        <h4><span class="blue_txt" ng-click="showDelete(rec)" style="cursor:pointer">Remove Record </span><span><br>Record will be added to archive folder</span></h4>

                    </div>



                    <div class="frbtnonpg">
                        <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="save()">Save Changes </button>
                    </div>
                    <br>

                </div>

                <div class="tab-content" ng-show="tab==2">
                    <div class="row ropad grrow" style="margin:5px">
                        <div class="form-group">
                            <h4><span>Upload file and write a brief discription</span></h4>

                            <div id="upload_profile_picture_div">
                                {{user.currentRecord.file.name}}
                                <div class="button blue_txt" ngf-select ng-model="user.currentRecord.file" name="file" ngf-max-size="20MB" style="border:1px">
                                    <strong style="cursor: pointer">Select File</strong> </div>

                            </div>
                            <br>

                            <label for="usr">File Name</label>
                            <input type="text" class="form-control set_sal" ng-model="user.currentRecord.file.fileName">
                            <!--<label for="usr">Description</label>
                                <textarea class="form-control" rows="3" id="fileDescr" ng-model="fileDescription"></textarea>-->
                            <button type="button" class="btn btn-secondary btn-lg btn-block btn_left" ng-click="upload()">Upload file </button>
                        </div>
                        <br>
                    </div>

                    <div class="row ropad">

                        <div ng-repeat="file in user.currentRecord.files">
                            <h5><span>By {{file.createdBy.name}} on 21/3/2017</span></h5>
                            <h4><span><strong>File: </strong>{{file.fileName}}</span></h4>
                            <h4><a href="{{rootUrl}}{{file.id}}" target="_blank"><span class="blue_txt">Download</span></a> | <span class="blue_txt" style="cursor:pointer" ng-click="showDelete(file)"> Delete</span></h4>

                            <hr style="margin: 5px 0" />
                        </div>

                        <br>

                    </div>

                </div>

                <div class="tab-content" ng-show="tab==3">
                    <div class="row ropad">
                        <div class="form-group">
                            <label for="comment">Add Comment:</label>
                            <textarea class="form-control" rows="3" id="comment" ng-model="user.currentRecord.comment.comment"></textarea>
                            <button type="button" class="btn btn-secondary btn-lg btn-block btn_left" ng-click="addComment()">Add</button>
                        </div>


                        <div class="comment_box" ng-repeat="comment in user.currentRecord.comments">
                            <h5><span>By {{comment.commentedBy.name}} on {{comment.dateString}}</span>&nbsp;|&nbsp;<span class="blue_txt" ng-click="removeComment(comment)" style="cursor:pointer">Remove</span></h5>
                            <h4><span>{{comment.comment}}</span></h4>
                        </div>

                    </div>
                </div>

                <div class="tab-content" ng-show="tab == 4">
                    <div class="table-responsive">
                        <table class="table logtabl table-hover">
                            <thead class="distabl">
                                <tr>
                                    <th class="distabl">Date</th>
                                    <th class="distabl">By</th>
                                    <th class="distabl">Details</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="log in user.currentRecord.logs">
                                    <td>{{log.logDate}}</td>
                                    <td>{{log.user.name}}</td>
                                    <td>{{log.log}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>




                </div>
            </div>

        </div>



    </div>




    <div id="deleteRecord" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header" style="border:none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this record ({{deleteRecord.titleField.name}})? All the data related to this record will be archived.</p>
                    <!--<p ng-show="updateLeaveResponse != null">{{response.responseText}}</p>-->
                </div>
                <div class="modal-footer" style="border:none">
                    <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->

                    <button type="button" class="btn btn-secondary btn-lg btn-block " ng-click="deleteRecord()">Delete</button>
                    <!-- <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal">OK</button>-->

                </div>
            </div>

        </div>
    </div>







    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


    <script src="js/angular-datepicker.js"></script>



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

<footer>
    <!---<div class="navbar navbar-default foocls">
  <div class="container">
    <span class="navbar-text">
      &#169 talnote corp.
      </span>
  </div>
</div> --->
    <!--
    <div id="foo" class="negmar"></div>-->
</footer>


</html>
