<!doctype html>
<html>

<body>


    <div class="container">

        <div class="row tpband">
            <div class="col-sm-12 ">
                <img src="imgs/back_icon_grey.png" alt="back" id="backbtn" width=50px style="border:thick">

               
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 ">
                <h2 class="pghdgs">Salary Info</h2>
            </div>
        </div>
        
        <div ng-include="'response.html'"></div>
        
        <div class="row">
            <div class="col-sm-1 moliv ">

                <div class=" form-group ">
                    <select class="form-control" ng-model="year" ng-options="year for year in years">
                       
                    </select>
                </div>

            </div>
            <div class="col-sm-1 moliv  ">
                <div class=" form-group  ">

                    <select class="form-control" ng-model="month" ng-options="m.name for m in months">
                        
                    </select>
                </div>

            </div>
            <div class="col-sm-1 moliv subsalinfo  ">
                <div class=" form-group  ">
                    <button type="button" class="btn btn-secondary btn-sm btn-block btndet salmit" ng-click="getAllEmployeeSalary()">Submit</button>
                   
                </div>

            </div>
            
           <div class="col-sm-3">
               
                <div class=" form-group">
                    <a href="{{url}}/downloadBankStatement/{{user.company.id}}/0/{{year}}/{{month.id}}"><span><img src="imgs/n_pdf.png" alt="back" class="expdficon" width=50px ></span>
                   </a>
                </div>
             </div> 
             <div class="col-sm-1">
                <div class=" form-group ">
                    <a href="{{url}}/downloadSalaryMaster/{{user.company.id}}/0/{{year}}/{{month.id}}"><span><img src="imgs/n_excel.png" alt="back" width=50px class="expdficon" ></span>
                    </a>
                </div>

            </div>
            
        </div>


        <div class="table-responsive">
            <table class="table distabl table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>Name</th>
                        <th>Emp ID</th>
                        <th>Gross salary</th>
                        <th>Total leaves</th>
                        <th>Net Paid</th>
                        <th>Account number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees" ng-click="selectEmployee(employee)">
                        <td><span ng-show="employee.selected"><span><img src="imgs/n_tick.png" alt="back" id="closbtn" width=20px ></span></span></td>
                        <td>{{$index + 1}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.id}}</td>
                        <td>{{employee.financial.salary}}</td>
                        <td>{{employee.withoutPayLeaves}}</td>
                        <td>{{employee.financial.amountPayable}}</td>
                        <td>{{employee.financial.accountNumber}}</td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm btn-block btndet" ng-click="viewDetails(employee)">Details</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


</body>

</html>