<!doctype html>
<html>


<body>


    <div class="container-fluid ">


        <div ng-include="'response.html'"></div>



        
            
            <a href="{{backLink}}"><img src="http://hreasy.in/imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
            <a href="#help" target="_blank"><img src="http://hreasy.in/imgs/Just_icons/Question_chat.png" id="help_pos" width=44px></a>

            <!--<div class="row tpband">
                <div class="col-sm-12 ">
                    <a href="{{backLink}}"><img src="imgs/back_icon_grey.svg" alt="back" id="backbtn" width=50px style="border:thick"></a>
                    <a href="#help" target="_blank"><img src="imgs/help_grey.svg" id="help_pos" width=44px></a>

                </div>
            </div>-->

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 ">
                    <h2 class="pghdgs">{{title}}</h2>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 makpg">


                    <div class="row ropad">

                        <div class=" form-group">
                            <label for="usr">Project title </label>
                            <input id="basic" type="text" class="form-control set_sal" ng-model="user.currentProject.title">

                        </div>

                        <div class="form-group">
                            <label for="comment">Project Details</label>
                            <textarea class="form-control set_sal" rows="3" id="comment" ng-model="user.currentProject.description"></textarea>
                        </div>

                    </div>

                    <div class="row ropad grrow lacmarg">


                        <div class=" form-group">
                            <label for="pwd">Add Team members</label>
                            <!--<input type="emil id" class="form-control" >-->
                            <select name="allowance" class="form-control forpad" ng-model="selectedUser" class="form-control" ng-options="usr.name for usr in users">
                                <option value="">Select member</option>
                        
                            </select>

                        </div>

                        <button type="button" class="btn  btn-xs adbtun " ng-click="add()" style="box-shadow:none;"><span><img src="imgs/n_addbtn.svg" alt="back" id="closbtn" width=40px data-toggle="tooltip" title="Add member" ></span></button>


                    </div>



                    <div class="table-responsive">
                        <table class="table distabl table-hover " style="font-size:14px">
                            <thead>
                                <tr>
                                    <th style="text-align: center">#</th>
                                    <th style="text-align: center">Team Member</th>
                                    <th style="text-align: center">Department</th>
                                    <th style="text-align: center">Records</th>
                                    <th style="text-align: center">Files</th>
                                    <th style="text-align: center">Comments</th>
                                    <th style="text-align: center">Admin</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="usr in user.currentProject.users">
                                    <td>1</td>
                                    <td>{{usr.name}}</td>
                                    <td>{{usr.department}}</td>
                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="usr.rights.recordAccess"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="usr.rights.fileAccess"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="usr.rights.commentAccess"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox" style="margin-top:0px">
                                            <label class="checkbox-inline"><input type="checkbox" ng-model="usr.rights.projectAccess"></label>
                                        </div>
                                    </td>

                                    <td>
                                        <img src="imgs/clear-button.png" alt="back" id="closbtn2" width="10px" ng-click="remove(usr)">
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>


                    <!--<div class="row">
                        <div class=" levcard2 crcompt">
                            <div class="col-sm-12">
                                <div class="row" ng-repeat="usr in user.currentProject.users">
                                    {{usr.name}} ({{usr.department}})
                                    <span style="cursor:pointer" ng-click="remove(usr)"><img src="imgs/clear-button.png" alt="back" id="closbtn2" width=10px ></span>
                                    <hr style="margin: 5px 0" />
                                </div>


                            </div>
                        </div>
                    </div>-->

                    <br>



                </div>
                <div class="col-sm-8 col-sm-offset-2 makpg">
                    <div class="frbtnonpg">
                        <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="save()">Save </button>
                    </div>
                </div>

                <div class="col-sm-8 col-sm-offset-2 makpg" style="padding-top:15px;">

                    <p><b style="color:rgb(219,50,54);cursor:pointer" data-toggle="modal" data-target="#deleteProjectModal">Delete Project</b><br>Only admin can delete project. Deleted items will be moved to Archives.</p>

                </div>

            </div>

        

        <div id="deleteProjectModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="text-align: center;">
                    <div class="modal-header" style="border:none">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <p style="font-size:17px;">Are you sure you want to remove this project ? All the data related to this project will be archived.</p>
                        <!--<p ng-show="updateLeaveResponse != null">{{response.responseText}}</p>-->
                    </div>
                    <div class="modal-footer" style="border:none">
                        <!--<button type="button" class="btn btn-secondary btn-lg btn-block btnmod_allign" data-dismiss="modal">No</button>-->

                        <button type="button" class="btn btn-secondary btn-lg btn-block " ng-click="deleteCurrentProject()">Remove</button>
                        <!-- <button type="button" class="btn btn-secondary btn-lg btn-block " data-dismiss="modal">OK</button>-->

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>


</html>
